body{
	background: url("../Images/bg.png");
}
.center{
	margin-left: auto;
	margin-right: auto;
}
.container-width-max{
	width:100%;
}
.container-width-980{
	width:980px;
}
@media (max-width: 979px) {
	.container-width-980{
		width:98%;
		margin-left: 1%;
		margin-right: 1%;
	}
}

.floatleft{
	float: left;
}
.floatright{
	float: right;
}

.centertext{
	text-align: center;
}